.my-tapbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.618);
  height: 60px; /* Mantiene l'altezza della pagina corretta */
  backdrop-filter: blur(10px); /* Opzionale: sfocatura sullo sfondo */

}

/* RIMUOVI questa regola se causa problemi */
.page-container {
  display: flex;
  flex-direction: column;
  height: 60px; 
  overflow: hidden; 
  flex: 0;
  overflow-y: auto;
  
}


