/* :root:root {
    --adm-color-primary: #2c949d; 
    --adm-color-success: #10b981; 
    --adm-color-warning: #f59e0b;
    --adm-color-danger: #ef4444; 
    --adm-color-background: #00000000; 
    --adm-color-text: #ffffff; 
  } */